# Java
*.class
*.jar
*.war
*.nar
*.ear
*.log
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*
*.zip
*.tar.gz
*.rar

# Maven / Spring Boot
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
smart-campus-client/node_modules/
smart-campus-client/dist/
frontend/.vite/

# Backend
backend/node_modules/

# Sensitive files
backend/src/main/resources/application.properties
**/application.properties

# IDE
.idea/
.vscode/
*.iws
*.iml
*.ipr

# OS
.DS_Store
Thumbs.db
